.card {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Optional: You can adjust card padding and margin if needed */
  .card-body {
    padding: 15px;
  }
  .container{
    margin-top: 20px;
  }